.FingerSpell {
  height: 100vh;
  margin-left: 300px;
  background-color: #f8f3ed;
  color: #000;
}

.FingerSpell > h2 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.FingerSpell > .top-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 600px;
  margin: auto;
  font-size: 16px;
}

.FingerSpell > .top-controls > .difficulty-container > select {
  background-color: inherit;
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  font-size: 16px;
}

.FingerSpell > .top-controls > select:hover {
  cursor: pointer;
}

.FingerSpell > .top-controls > .btn-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.FingerSpell > .top-controls > .btn-container > .divider {
  border-left: 2px solid black;
  height: 20px;
  position: relative;
  top: 4px;
}

.FingerSpell > .top-controls > .btn-container > button {
  background-color: inherit;
  outline: none;
  border: none;
  height: 30px;
  width: 70px;
  font-weight: bold;
  font-size: 14px;
}

.FingerSpell > .top-controls > .timer-container {
  justify-self: end;
}

.FingerSpell > .top-controls > .btn-container > button:hover {
  cursor: pointer;
}


.FingerSpell > .asl-container {
  background-color: RGB(10, 10, 10);
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.FingerSpell > .asl-container > .camera, .canvas {
  width: 600px;
  height: 400px;
  grid-row-start: 1;
  grid-column-start: 1;
}

.FingerSpell > .asl-container > .canvas {
  z-index: 100;
}

.FingerSpell > .word-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.FingerSpell > .word-container > span:nth-child(1) {
  font-weight: 600;
  margin-top: 20px;
}

.FingerSpell > .word-container > span:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 10px;
}