.FourPicOneWord {
  height: 100vh;
  margin-left: 300px;
  background-color: #f8f3ed;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.FourPicOneWord > h2 {
  margin-bottom: 20px;
  text-align: center;
}

.FourPicOneWord > .picture-container {
  width: 350px;
  height: 350px;
  background-color: RGB(10, 10, 10);
  border-radius: 20px;
  margin: 0 auto;
}

.FourPicOneWord > .picture-container > .gameEnded-container {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FourPicOneWord > .picture-container > .gameEnded-container > span:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.FourPicOneWord > .top-controls {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 5px 0;
}

.FourPicOneWord > .top-controls > .difficulty-container {
  display: flex;
  align-items: center;
}

.FourPicOneWord > .top-controls > .difficulty-container select {
  border: none;
  background-color: inherit;
  margin-left: 5px;
}

.FourPicOneWord > .top-controls > .difficulty-container select:hover {
  cursor: pointer;
}

.FourPicOneWord > .top-controls > .difficulty-container select:focus {
  outline: none;
}

.FourPicOneWord > .top-controls > .btn-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.FourPicOneWord > .top-controls > .btn-container > .divider {
  border-left: 2px solid black;
  height: 20px;
  position: relative;
  top: 4px;
}

.FourPicOneWord > .top-controls > .btn-container > button {
  background-color: inherit;
  outline: none;
  border: none;
  height: 30px;
  width: 70px;
  font-weight: bold;
  font-size: 14px;
}

.FourPicOneWord > .top-controls > .btn-container > button:hover {
  cursor: pointer;
}

.FourPicOneWord > .top-controls > .lives-container {
  justify-self: end;
  display: flex;
}

.FourPicOneWord > .top-controls > .lives-container > .filled-heart{
  color: red;
  font-size: 30px;
}

.FourPicOneWord > .top-controls > .lives-container > .outlined-heart{
  font-size: 30px;
  color: gray
}

.FourPicOneWord > .picture-container > img {
  width: 100%;
  height: 100%;
}

.FourPicOneWord > .bottom-indicator {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 0;
}

.FourPicOneWord > .bottom-indicator > span:nth-child(2) {
  justify-self: center;
}

.FourPicOneWord > .bottom-indicator > span:nth-child(3) {
  justify-self: end;
}

.FourPicOneWord > .bottom-controls {
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.FourPicOneWord > .bottom-controls > button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.FourPicOneWord > .bottom-controls button > .btn-icon-backspace {
  font-size: 20px;
  margin-right: 2px;
}

.FourPicOneWord > .bottom-controls button > .btn-icon-submit {
  font-size: 20px;
  margin-left: 3px;
}

.FourPicOneWord > .bottom-controls button:nth-child(1) {
  justify-self: start;
  background-color: maroon;
}

.FourPicOneWord > .bottom-controls > .answer-container {
  height: 45px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.FourPicOneWord > .bottom-controls > .answer-container > button {
  width: 45px;
  height: 45px;
  background-color: RGB(10, 10, 10);
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 5px;
}

.FourPicOneWord > .bottom-controls > .answer-container > button > img {
  width: 100%;
  height: 100%;
}

.FourPicOneWord > .bottom-controls > .answer-container > .blank-answer {
  width: 45px;
  height: 45px;
  background-color: RGB(10, 10, 10);
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 0 5px;
}

.FourPicOneWord > .bottom-controls > button:nth-child(3) {
  justify-self: end;
  background-color: green;
}

.FourPicOneWord > .asl-button-container {
  width: 700px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
}

.FourPicOneWord > .asl-button-container > button {
  width: 50px;
  height: 50px;
  background-color: rgb(55, 24, 22);
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 8px;
}

.FourPicOneWord > .asl-button-container > button:hover {
  cursor: pointer;
}

.FourPicOneWord > .asl-button-container > button > img {
  width: 100%;
  height: 100%;
  text-indent: -10000px
}