.GuessHandSign {
  height: 100vh;
  margin-left: 300px;
  background-color: #f8f3ed;
  color: #000;
}

.GuessHandSign > h2 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
} 

.GuessHandSign > .top-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 600px;
  margin: auto;
  font-size: 16px;
}

.GuessHandSign > .top-controls > .difficulty-container > select {
  background-color: inherit;
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  font-size: 16px;
}

.GuessHandSign > .top-controls > select:hover {
  cursor: pointer;
}

.GuessHandSign > .top-controls > .btn-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.GuessHandSign > .top-controls > .btn-container > .divider {
  border-left: 2px solid black;
  height: 20px;
  position: relative;
  top: 4px;
}

.GuessHandSign > .top-controls > .btn-container > button {
  background-color: inherit;
  outline: none;
  border: none;
  height: 30px;
  width: 70px;
  font-weight: bold;
  font-size: 14px;
}

.GuessHandSign > .top-controls > .timer-container {
  justify-self: end;
}

.GuessHandSign > .top-controls > .btn-container > button:hover {
  cursor: pointer;
}

.GuessHandSign > .asl-img-container {
  background-color: RGB(0, 0, 0);
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.GuessHandSign > .asl-img-container > span {
  margin: 8px 0;
  font-size: 20px;
}

.GuessHandSign > .asl-img-container > .game-over {
  font-size: 40px;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}

.GuessHandSign > .asl-img-container > button {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Inter', sans-serif; 
  border-radius: 10px;
  cursor: pointer;
}

.GuessHandSign > .asl-img-container .asl-image {
  width: 400px;
  height: 300px;
}

.GuessHandSign > .bottom-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 600px;
  margin: auto;
  padding: 5px 0;
  font-size: 16px;
}

.GuessHandSign > .bottom-controls > .correct-container {
  justify-self: start;
}

.GuessHandSign > .bottom-controls > .total-container {
  justify-self: center;
}

.GuessHandSign > .bottom-controls > .wrong-container {
  justify-self: end;
}

.GuessHandSign > .btn-container {
  width: 700px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.GuessHandSign > .btn-container button {
  width: 35px;
  height: 35px;
  background-color: RGB(10, 10, 10);
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 15%;
  margin: 5px 7px;
  cursor: pointer;
}