.Home {
  height: 100vh;
  margin-left: 300px;
  background-color: #f8f3ed;
  color:#000;
}

.Home > span {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.Home > .text {
  padding-top: 20px;
}

.Home > .main-container {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 110px;
  left: 300px;
  right: 0;
  height: 420px;
  width: 560px;
  z-index: 200;
  text-align: end;
}

.Home > .camera {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 135px;
  left: 300px;
  right: 0;
  height: 420px;
  width: 560px;
  border-radius: 8%;
}

.Home > .canvas {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 135px;
  left: 300px;
  right: 0;
  height: 420px;
  width: 560px;
  border-radius: 8%;
}

.Home .translation {
  font-size: 30px;
  font-weight: bold;
  z-index: 100;
  display: block;
  padding-top: 470px;
  text-align: center;
}

.Home .translation-text {
  font-size: 30px;
  font-weight: bold;
  z-index: 100;
  display: block;
  text-align: center;
}