.Page404 {
  height: 100vh;
  margin-left: 300px;
  background-color: #f8f3ed;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page404 > .image-404 {
  width: 400px;
  height: 400px;
}