.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #2b293e;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.SideBarHeader {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SideBarHeader h1 {
  font-size: 30px;
}

.SideBarHeader1 {
  color: RGB(207, 207, 212);
}

.SideBarHeader2 {
  color: RGB(131, 126, 147);
}

.SidebarList {
  width: 100%;
  margin-top: 30px;
}

.SidebarList .SidebarItems {
  width: 100%;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: #fff;
}

.SidebarItems #icon {
  flex: 30%;
  display: grid;
  place-items: center;
  font-size: 30px;
}

.SidebarItems #title {
  flex: 70%;
  font-size: 20px;
}

.SidebarList .SidebarItems:hover {
  cursor: pointer;
  background-color: #293846;
}