@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  color: RGB(248, 243, 237);
  background-color: #f8f3ed;
  font-family: 'Inter', sans-serif; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}